[colors]
bg = #2f000000 
fg = #e5e9f0

# polar night
pn-darker = #3b4252
pn-light = #4c566a

# snow storm
sn-dark = #d8dee9
sn-light = #eceff4

# frost
f-mint = #8fbcbb
f-bright = #88c0d0
f-washed = #81a1c1
f-dark = #5e81ac

# aurora
a-green = #a3be8c
a-magenta = #b48ead
a-orange = #d08770
a-red = #bf616a

[bar/mainbar]
monitor = ${env:MONITOR}
width = 100%
height = 20
background = ${colors.bg}
foreground = ${colors.fg}
font-0 = FiraCode Nerd Font:style=medium:size=10;1
font-1 = Iosevka Term:fontformat=truetype:pixelsize=20;2
font-2 = Iosevka Nerd Font Mono:fontformat=truetype:size=20;3
font-3 = Material Icons:fontformat=truetype:pixelsize=20;3
font-4 = "Material Design Icons Desktop:size=11;3"
font-5 = "MesloLGS NF:style=Regular:size=17;4"
# separator = "|"
# separator-foreground = ${colors.pn-light}

modules-left = ewmh divider xwindow
modules-center = time
modules-right = mpd divider cpu ram divider battery 
tray-position=right
tray-detached=false
#border-top-size=1
#border-color=${colors.f-bright}

[module/xwindow]
type = internal/xwindow 
format=<label>

#label = " %title:0:30:...%"

[module/ewmh]
type = internal/xworkspaces
label-active = " %name% "
label-active-background = ${colors.f-bright}
label-active-foreground = ${colors.pn-darker}
label-occupied = " %name% "
label-occupied-background = ${colors.pn-light}
label-urgent = " %name% "
label-urgent-background = ${colors.a-orange}
label-urgent-foreground = ${colors.win-urgent-fg}
label-empty = " %name% "
label-empty-foreground = ${colors.foreground}

[module/polywins]
type = custom/script
exec = ~/.config/leftwm/themes/Ascent/polywins/polywins.sh 2>/dev/null
format = <label>
label = %output%
label-padding = 1
tail = true

[module/launcher]
type = custom/text

content = 
content-font = 5
content-foreground = ${color.fg}

click-left = rofi -show drun 

[module/mpd]
type = internal/mpd

; Host where mpd is running (either ip or domain name)
; Can also be the full path to a unix socket where mpd is running.
;;host = 127.0.0.1
;;port = 6600
;;password = mysecretpassword

; Seconds to sleep between progressbar/song timer sync
; Default: 1
interval = 1

; Available tags:
;   <label-song> (default)
;   <label-time>
;   <bar-progress>
;   <toggle> - gets replaced with <icon-(pause|play)>
;   <toggle-stop> - gets replaced with <icon-(stop|play)>
;   <icon-random>
;   <icon-repeat>
;   <icon-repeatone> (deprecated)
;   <icon-single> - Toggle playing only a single song. Replaces <icon-repeatone>
;   <icon-consume>
;   <icon-prev>
;   <icon-stop>
;   <icon-play>
;   <icon-pause>
;   <icon-next>
;   <icon-seekb>
;   <icon-seekf>
format-online = <label-song> 
# format-online = <label-song> <icon-prev> <toggle> <icon-next>
#format-online = <icon-prev> <toggle> <icon-next>
#format-online-prefix = ﱘ
format-online-foreground = ${colors.a-green}

;format-playing = ${self.format-online}
;format-paused = ${self.format-online}
;format-stopped = ${self.format-online}

; Available tags:
;   <label-offline>
format-offline = <label-offline>
#format-offline-prefix = ﱘ
format-offline-foreground = ${colors.f-mint}

; Available tokens:
;   %artist%
;   %album-artist%
;   %album%
;   %date%
;   %title%
; Default: %artist% - %title%
label-song =  " %artist% - %title%"
label-song-maxlen = 80
label-song-ellipsis = true

; Available tokens:
;   %elapsed%
;   %total%
; Default: %elapsed% / %total%
label-time = %elapsed% / %total%

; Available tokens:
;   None
label-offline = " Offline"

; Only applies if <icon-X> is used
icon-play = 
icon-pause = 
icon-stop = 
icon-prev = 
icon-next = 
icon-seekb = 
icon-seekf = 
icon-random = 
icon-repeat = 
icon-repeatone = 
icon-single = 
icon-consume = 

; Used to display the state of random/repeat/repeatone/single
; Only applies if <icon-[random|repeat|repeatone|single]> is used
toggle-on-foreground = ${color.primary}
toggle-off-foreground = ${color.red}

; Only applies if <bar-progress> is used
;;bar-progress-width = 45
;;bar-progress-indicator = |
;;bar-progress-fill = ─
;;bar-progress-empty = ─


# [module/spotify]
# type = custom/script
# tail = true
# interval = 1
# ; prefix symbol is shown before the text
# format-prefix = "<prefix-symbol>"
# format = <label>
# exec = ~/.config/leftwm/themes/Ascent/polybar-spotify/get_spotify_status.sh             

# [module/spotify-prev]
# type = custom/script
# exec = echo "<previous-song-symbol>"
# format = <label>
# click-left = playerctl previous -p spotify

# [module/spotify-play-pause]
# type = custom/ipc
# hook-0 = echo "<playing-symbol>"
# hook-1 = echo "<pause-symbol>"
# initial = 1
# click-left = playerctl play-pause -p spotify

# [module/spotify-next]
# type = custom/script
# exec = echo "next-song-symbol"
# format = <label>
# click-left = playerctl next -p spotify


# [module/memory]
# type = internal/memory

# ; Seconds to sleep between updates
# ; Default: 1
# interval = 1

# ; Available tags:
# ;   <label> (default)
# ;   <bar-used>
# ;   <bar-free>
# ;   <ramp-used>
# ;   <ramp-free>
# ;   <bar-swap-used>
# ;   <bar-swap-free>
# ;   <ramp-swap-used>
# ;   <ramp-swap-free>
# format = <label>
# format-prefix = RAM:

# ; Available tokens:
# ;   %percentage_used% (default)
# ;   %percentage_free%
# ;   %gb_used%
# ;   %gb_free%
# ;   %gb_total%
# ;   %mb_used%
# ;   %mb_free%
# ;   %mb_total%
# ;   %percentage_swap_used%
# ;   %percentage_swap_free%
# ;   %mb_swap_total%
# ;   %mb_swap_free%
# ;   %mb_swap_used%
# ;   %gb_swap_total%
# ;   %gb_swap_free%
# ;   %gb_swap_used%

# label = " %mb_used%"

# ; Only applies if <ramp-used> is used
# ;;ramp-used-0 = ${memory.used0}
# ;;ramp-used-1 = ${memory.used1}
# ;;ramp-used-2 = ${memory.used2}

# ; Only applies if <ramp-free> is used
# ;;ramp-free-0 = ${memory.free0}
# ;;ramp-free-1 = ${memory.free1}
# ;;ramp-free-2 = ${memory.free2}
[module/ram]
type = custom/script
exec = ~/polybar-scripts/ram.sh
format-ram-foreground=${colors:f-bright}
interval = 3

[module/battery]
type = internal/battery

; This is useful in case the battery never reports 100% charge
full-at = 99

; Use the following command to list batteries and adapters:

; $ ls -1 /sys/class/power_supply/
battery = BAT0
adapter = ACAD

; If an inotify event haven't been reported in this many
; seconds, manually poll for new values.
;
; Needed as a fallback for systems that don't report events
; on sysfs/procfs.
;
; Disable polling by setting the interval to 0.
;
; Default: 5
poll-interval = 2

; see "man date" for details on how to format the time string
; NOTE: if you want to use syntax tags here you need to use %%{...}
; Default: %H:%M:%S
time-format = %H:%M

; Available tags:
;   <label-charging> (default)
;   <bar-capacity>
;   <ramp-capacity>
;   <animation-charging>
format-charging = <animation-charging> <label-charging>

; Available tags:
;   <label-discharging> (default)
;   <bar-capacity>
;   <ramp-capacity>
;   <animation-discharging>
format-discharging = <ramp-capacity> <label-discharging>

; Available tags:
;   <label-full> (default)
;   <bar-capacity>
;   <ramp-capacity>
format-full = <label-full>
format-full-prefix = 

; Available tokens:
;   %percentage% (default)
;   %time%
;   %consumption% (shows current charge rate in watts)
label-charging = "%percentage%% "
format-charging-foreground=${colors:a-magenta}
; Available tokens:
;   %percentage% (default)
;   %time%
;   %consumption% (shows current discharge rate in watts)
label-discharging = "%percentage%% "
format-discharging-foreground=${colors:a-magenta}

; Available tokens:
;   %percentage% (default)
label-full = " Full"
format-full-foreground=${colors:a-magenta}

; Only applies if <ramp-capacity> is used
ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 

; Only applies if <bar-capacity> is used
;bar-capacity-width = 10

; Only applies if <animation-charging> is used
animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-3 = 
animation-charging-4 = 

; Framerate in milliseconds
animation-charging-framerate = 750

; Only applies if <animation-discharging> is used
;;animation-discharging-0 = ${battery.anim0}
;;animation-discharging-1 = ${battery.anim1}

; Framerate in milliseconds
;animation-discharging-framerate = 500



[module/divider]
type = custom/text
content            = "  |  "
content-foreground=${colors.pn-light}

[module/date]
type = internal/date
date = " %a, %b %d "
format-foreground = ${colors.a-magenta}

[module/time]
type = internal/date
date = " %I:%M %p "

[module/cpu]
type = internal/cpu
interval = 0.5
label = " CPU: %percentage:2%% "
label-foreground = ${colors.f-bright}

[module/volume]
type = internal/pulseaudio
master-soundcard = default
speaker-soundcard = default
headphone-soundcard = default
label-volume = " VOL: %percentage:2%% "
label-volume-foreground = ${colors.f-mint}

[module/network]
type = internal/network
interface = enp3s0
unknown-as-up = true

label-disconnected = " not connected "
label-disconnected-foreground = ${colors.a-red}
format-disconnected = <label-disconnected>

label-connected = " %{F#a3be8c}↓ %{F#d8dee9}%downspeed:9%%{F#4c566a} | %{F#88c0d0}↑ %{F#d8dee9}%upspeed:9%%{F-} "
format-connected = <label-connected>

[module/vpn]
type = internal/network
interface = tun0
unknown-as-up = true

label-disconnected = " vpn not connected "
label-disconnected-foreground = ${colors.a-red}
format-disconnected = <label-disconnected>

label-connected = " vpn connected "
label-connected-foreground = ${colors.a-green}
format-connected = <label-connected>

