/** ********** Fonts ********** **/
* {
  /* font-family: "JetBrainsMono Nerd Font", "Iosevka Nerd Font"; */
  font-family: "JetBrainsMono Nerd Font", "Iosevka Nerd Font";
  font-size: 12px;
  font-weight: 600;
  min-height: 0;
}
/* @define-color custom rgba(10, 11, 17, 0.8); */
/* @define-color custom #131520; */
@define-color custom #1B1C24;
/** ********** Waybar Window ********** **/
window#waybar {
  /* background: rgba(36, 39, 58, 0.4); */
  /* background: rgba(15, 17, 26, 0.9); */
  /* background: rgba(10, 11, 17, 0); */
  background: #0a0b11;

  /* backdrop-filter: opacity(0.7); */
  color: #000000;
  border-color: #072112;
  /* box-shadow: 4px 4px 2px 1px #000000; */
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

/** ********** Backlight ********** **/
#backlight {
  color: #cba6f7;

  /* background: rgb(202, 158, 230); */
  /* background: linear-gradient( */
  /*   45deg, */
  /*   rgba(202, 158, 230, 1) 0%, */
  /*   rgba(245, 194, 231, 1) 43%, */
  /*   rgba(180, 190, 254, 1) 80%, */
  /*   rgba(137, 180, 250, 1) 100% */
  /* ); */
  /* background-size: 150% 150%; */
  /* animation: gradient 8s ease infinite; */
  /* box-shadow: rgba(0, 0, 0, 0.288) 2 2 5 2px; */
  /* text-shadow: 0 0 5px rgba(0, 0, 0, 0.377); */
  background-color: @custom;
}

/** ********** Battery ********** **/
#battery {
  color: #fff;
  /* border:2px solid #5b6370; */
  background-color: @custom;
}

#battery.charging {
  color: #fff;
}

#battery.plugged {
  color: #fff;
}

@keyframes blink {
  to {
    color: #0f0f0f;
  }
}

#battery.critical:not(.charging) {
  background-color: #f38ba8;
  color: #f38ba8;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/** ********** Clock ********** **/
#clock {
  /* background: rgb(245, 194, 231); */
  /* background: linear-gradient( */
  /*   45deg, */
  /*   rgba(245, 194, 231, 1) 0%, */
  /*   rgba(203, 166, 247, 1) 64%, */
  /*   rgba(202, 158, 230, 1) 100% */
  /* ); */
  margin-right: 25px;

  color: #cba6f7;
  background-color: @custom;
  /* background-size: 150% 150%; */
  /* text-shadow: 0 0 5px rgba(0, 0, 0, 0.377); */
  /* animation: gradient 8s ease infinite; */
}

/** ********** CPU ********** **/
#cpu {
  color: #fff;
  /*box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;*/
  /* box-shadow: 4px 4px 2px 1px #101010; */
  background-color: @custom;
}

/** ********** Memory ********** **/
/* #custom-cpu { */
/*   color: #000011; */
/*   background: rgb(202, 158, 230); */
/*   background: linear-gradient( */
/*     45deg, */
/*     rgba(202, 158, 230, 1) 0%, */
/*     rgba(245, 194, 231, 1) 43%, */
/*     rgba(180, 190, 254, 1) 80%, */
/*     rgba(137, 180, 250, 1) 100% */
/*   ); */
/*   background-size: 150% 150%; */
/*   animation: gradient 10s ease infinite; */
/*   box-shadow: rgba(0, 0, 0, 0.288) 2 2 5 2px; */
/*   text-shadow: 0 0 5px rgba(0, 0, 0, 0.377); */
/* } */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#custom-cpu {
  color: #eba0ac;
  background-color: @custom;
}

/** ********** Disk ********** **/
#disk {
  /* background-color: #b4befe; */
  color: #94e2d5;
  background-color: @custom;
  /* box-shadow: 4px 4px 2px 1px #101010; */
}

/** ********** Tray ********** **/
#tray {
  background-color: @custom;
  padding: 0 12px;
  margin: 0px 4px 0px 4px;
  border-radius: 10px;
  background-clip: padding-box;
}
/** ********** MPD ********** **/
#custom-waybar-media {
  color: #f5c2e7;
  /* background: linear-gradient( */
  /*   52deg, */
  /*   rgba(180, 190, 254, 1) 0%, */
  /*   rgba(137, 220, 235, 1) 32%, */
  /*   rgba(137, 180, 250, 1) 72%, */
  /*   rgba(166, 227, 161, 1) 100% */
  /* ); */
  /* background-size: 150% 150%; */
  /* animation: gradient 20s ease infinite; */
  /* text-shadow: 0 0 5px rgba(0, 0, 0, 0.377); */
  background-color: @custom;
}

#mpd {
  color: #94e2d5;
  background-color: @custom;
}

#mpd.disconnected {
  color: #f38ba8;
  background-color: @custom;
}

#mpd.stopped {
  color: #f5c2e7;
  /* background: linear-gradient( */
  /*   52deg, */
  /*   rgba(180, 190, 254, 1) 0%, */
  /*   rgba(137, 220, 235, 1) 32%, */
  /*   rgba(137, 180, 250, 1) 72%, */
  /*   rgba(166, 227, 161, 1) 100% */
  /* ); */
  /* background-size: 150% 150%; */
  /* animation: gradient 20s ease infinite; */
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
  background-color: @custom;
}

#mpd.playing {
  color: #74c7ec;
  /* background: linear-gradient( */
  /*   52deg, */
  /*   rgba(180, 190, 254, 1) 0%, */
  /*   rgba(137, 220, 235, 1) 32%, */
  /*   rgba(137, 180, 250, 1) 72%, */
  /*   rgba(166, 227, 161, 1) 100% */
  /* ); */
  /* background-size: 150% 150%; */
  /* animation: gradient 20s ease infinite; */
  /* text-shadow: 0 0 5px rgba(0, 0, 0, 0.377); */
  background-color: @custom;
}

#mpd.paused {
  color: #f5c2e7;
}

/** ********** Pulseaudio ********** **/
#pulseaudio {
  /* background-color: #fab387; */

  color: #94e2d5;
  background-color: @custom;
}

#pulseaudio.bluetooth {
  color: #f5c2e7;
  background-color: @custom;
}
#pulseaudio.muted {
  color: #313244;
  background-color: #cdd6f4;
}

/** ********** Network ********** **/
#network {
  color: #89b4fa;
  /* background: linear-gradient( */
  /*   52deg, */
  /*   rgba(180, 190, 254, 1) 0%, */
  /*   rgba(137, 220, 235, 1) 32%, */
  /*   rgba(137, 180, 250, 1) 72%, */
  /*   rgba(166, 227, 161, 1) 100% */
  /* ); */
  /* background-size: 150% 150%; */
  /* animation: gradient 20s ease infinite; */
  /* text-shadow: 0 0 5px rgba(0, 0, 0, 0.377); */
  background-color: @custom;
}

#network.disconnected,
#network.disabled {
  background-color: #313244;
  color: #cdd6f4;
}
#network.linked {
  color: #89b4fa;
}
#network.ethernet {
  color: #89b4fa;
}
#network.wifi {
  color: #89b4fa;
}

/** ********** Custom ********** **/
#custom-menu,
#custom-kernel,
#custom-pulseaudio-cycle,
#custom-power,
#custom-weather,
#custom-updater,
#custom-cpu,
#custom-waybar-media {
  border-radius: 10px;
  margin: 0px 0px;
  padding: 0px 8px;
  /* color: #000000; */
  /* font-size: 12px; */
}

#custom-menu {
  background-color: @custom;
  color: powderblue;
  font-size: 12;
  padding: 0 12px;
  margin: 0px 2px 0px 2px;
  border-radius: 10px;
  background-clip: padding-box;
}

#custom-power {
  background-color: @custom;
  color: powderblue;

  padding: 0 12px;
  margin: 0px 2px 0px 2px;
  border-radius: 10px;
  background-clip: padding-box;
}
#custom-kernel {
  /* background-color: #000; */
  color: #b4befe;
  /* color: darkgray; */
  background-color: @custom;
  font-weight: 600;

  /* border:2px solid #5b6370; */
  padding: 0 12px;
  margin: 0px 2px 0px 2px;
  border-radius: 10px;
  background-clip: padding-box;
}

#custom-updater {
  background-color: #e6ed7b;
  margin-right: 3px;
  padding: 2px 8px;
  font-size: 12px;
  color: #0f0f0f;
}

#custom-weather {
  background-color: #cba6f7;
  margin-right: 3px;
  padding: 2px 8px;
  font-size: 12px;
  color: #0f0f0f;
}

#workspaces {
  color: #fff;
  background: @custom;
  border-radius: 10px;
}

#window {
  color: #fff;
  background: @custom;
}
/** Common style **/
#window,
#backlight,
#battery,
#clock,
#cpu,
#disk,
#mode,
#memory,
#mpd,
#tray,
#pulseaudio,
#network,
#workspaces #custom-cpu {
  /* color: #000000; */

  /* border: 2px solid gray; */
  padding: 0 8px;
  margin: 0px 2px 0px 2px;
  border-radius: 10px;
  background-clip: padding-box;
}
